@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#legend {
  position: fixed;
  /* 固定位置 */
  bottom: 20px;
  /* 距离顶部的距离 */
  left: 20px;
  /* 距离右侧的距离 */
  width: 200px;
  /* 宽度 350px*/
  right: 220px;
  height: auto;
  padding: 0 5px;
  /* 内边距 */
  background-color: rgb(240, 248, 255, 0.75);
  /* 背景颜色 */
  border: 1px solid #ccc;
  /* 边框 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  /* 阴影 */
  z-index: 1000;
  /* 确保在其他元素上方 */
}

#title-legend {
  text-align: center;
  font-size: 20px;
}

#legend-items {
  padding: 0 10px 10px 10px;
  /* 设置左右的内边距 */
}

#nav {
  position: fixed;
  /* 固定位置 */
  top: 20px;
  /* 距离顶部的距离 */
  right: 20px;
  /* 距离右侧的距离 */
  width: 350px;
  /* 宽度 350px*/
  padding: 15px;
  /* 内边距 */
  background-color: rgb(240, 248, 255, 0.75);
  /* 背景颜色 */
  border: 1px solid #ccc;
  /* 边框 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  /* 阴影 */
  z-index: 1000;
  /* 确保在其他元素上方 */
}

/* 当窗口宽度小于 350px 时，只调整 #nav 的宽度 */
@media (max-width: 350px) {
  #nav {
    width: 100%;
  }
}


#nav p {
  margin: 0 0 10px;
  /* 段落外边距 */
}

#nav p#title-nav {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

#nav #button-area {
  padding: 10px 0 0 0;
}

#nav #button-area button {
  background-color: #007bff;
  /* 按钮背景颜色 */
  color: white;
  /* 按钮文字颜色 */
  border: none;
  /* 去掉边框 */
  padding: 5px 10px;
  /* 按钮内边距 */
  cursor: pointer;
  /* 鼠标悬停样式 */
  position: relative;
  /* 初始状态相对导航栏 */
  display: initial;
}

#nav button:hover {
  background-color: #0056b3;
  /* 悬停时的背景颜色 */
}

.content {
  margin: 100px;
  /* 页面内容的外边距，避免被介绍栏覆盖 */
}

div#location-zoom {
  position: fixed;
  /* 固定位置 */
  top: 20px;
  /* 距离顶部的距离 */
  left: 40px;
  /* 距离left侧的距离 */
  width: auto;
  /* 宽度 */
  padding: 5px;
  /* 内边距 */
  background-color: rgb(240, 248, 255, 0.5);
  /* 背景颜色 */
  border: 0.8px solid #ccc;
  /* 边框 */
  box-shadow: 0 1.8px 8px rgba(0, 0, 0, 0.1);
  /* 阴影 */
  z-index: 999;
  /* 确保在其他元素上方 */
}


#overlay {
  position: fixed;
  display: none;
  /* When the more function button is clicked, this attribute will become block */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1199;
}

#pop-up-window-more-functions {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px 20px;
  z-index: 1200;
  width: 70%;
  height: 80%;
  background-color: rgb(240, 248, 255, 0.85);
  /* 背景颜色 */
  border: 1px solid #ccc;
  /* 边框 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  /* 阴影 */
  overflow:auto;
  flex-direction: column;
}


#MFnav {
  /* display: inline-flex; */
  /* width: 80%; */
  /* height: 8vmin; */
  justify-content: space-between; /* 在li之间均匀分配空间 */
  list-style-type: none;
  /* display: table; */
  display: flex;
  padding: 0;
  margin: 0;
}

#MFnav li {
  /* background-color:#007bff; */
  /* text-decoration-color: #000000; */
  flex: 1;                     /* 使li填满空隙 */
  margin-top: 10px;
  text-align: center;          /* 居中对齐文本 */
  padding: 0;                  /* 去掉内边距 */
  border: 1px solid #767676;      /* 可选：给li增加边框以便更清楚地看见 */
  box-sizing: border-box;       /* 包括边框和内边距在内计算元素的总宽度 */
  /* display: inline-block; */
  /* width: 40%; */
  background-color: #c6c6c6a0;
  /* 按钮背景颜色 */
  color: rgb(0, 0, 0);
  /* 按钮文字颜色 */
  /* border: none; */
  /* 去掉边框 */
  padding: 5px 10px; /* 按钮内边距 */
  cursor: pointer;
}

#MFnav li:hover {
  background-color: hsla(0, 0%, 60%, 0.5);
  /* 悬停时的背景颜色 */
}

#MFnav li.activated {
  background-color: hsla(0, 0%, 60%, 0.5)
}

.people-selection-div {
  flex-direction: column;
  width: 75%;
  margin-left: 50%;
  transform: translate(-50%);
padding: 0;
}

.people-selection {
  justify-content: space-between; /* 在li之间均匀分配空间 */
  list-style-type: none;
  /* display: table; */
  display: flex;
  padding: 0;
}

.people-selection li {
  border: 1px solid #818181;
  padding: 10px;
  width: 30%;
  margin-left: 5%;
  border-radius: 8px;
  background: #c6c6c6a0;
  height: 50px;
  text-align: center;
}

.people-selection li:hover {
  background-color: hsla(0, 0%, 60%, 0.5);
  /* 悬停时的背景颜色 */
}
.people-selection li.activated {
  background-color: hsla(0, 0%, 60%, 0.5)
}